@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: #000000;
    --black70: rgba(0, 0, 0, 0.7);
    --white: #ffffff;
    --text: #777;
    --text-hover: #7777778c;
    --text-strong: black;
    --bg: #fbfbfe;
    --bg-content: #EFEFEF;
    --secondary: rgb(250 204 21);
    --primary: rgb(220 38 38);
    --separator: rgba(0, 0, 0, 0.10);
    --textNavbar: #111111;
    --menubar: hsl(245, 79%, 5%);
  }

  .dark {
    --black: #ffffff;
    --black70: #ffffff;
    --white: #FFFFFF;
    --text: #999999;
    --text-hover: #7777778c;
    --text-strong: white;
    --bg: #18191A;
    --bg-content: #212223;
    --secondary: rgb(250 204 21);
    --primary: rgb(220 38 38);
    --separator: #2D2E2F;
    --textNavbar: #ffffff;
    --menubar: hsl(0, 0%, 90%);
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg);
}

/* Estilo da barra de rolagem */
::-webkit-scrollbar {
  width: 0;
}


